{% extends 'blog/partials/base.html' %}
{% load static %}

{% block content %}
{% include 'blog/partials/breadcrumb.html' %}
<div class="blog_area pt-105 pb-100">
    <div class="container">
        <div class="row">

            {% for post in posts %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_blog_post mb-40">
                        <div class="post_thumbnail">
                            <a href="blog-details.html"><img src="{% static 'blog/img/blog/1.jpg' %}" alt=""></a>
                        </div>
                        <div class="post_content_meta">
                            <div class="post_meta">
                                <ul>            
                                    <li>{{post.created_on}}.</li>
                                    <li>400+ View </li>
                                    <li><a href="#"> {{post.likes.count}} </a></li>
                                </ul>
                            </div>
                            <div class="blog_post_desc">
                                <h2><a href="blog-details.html"> {{post.title}} </a></h2>
                                <p> {{post.content|slice:"0:200" }} </p>
                            </div>
                            <div class="read_more_btn">
                                <a href="#">Read More <span><i class="zmdi zmdi-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row pagination_box mt-30">
            <div class="col-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#"><i class="zmdi zmdi-chevron-left"></i> prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="active">4</li>
                        <li>..</li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">next<i class="zmdi zmdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

