{% extends 'blog/partials/base.html' %}
{% load static %} 

{% block content %}
{% include 'blog/partials/breadcrumb.html' %}
<!--Contact us start-->
<div class="contact-us pt-110 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="contact-us-desc">
                     <div class="get-in-touch">
                        <h3>get in touch</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedoo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim aid minim veniam, quihhs nostrud exercitation.</p>
                     </div>
                     <div class="contact-social">
                         <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                         <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                         <a href="#"><i class="zmdi zmdi-rss"></i></a>
                         <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                         <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                     </div>
                     <div class="contact-address">
                         <h3>address</h3>
                         <div class="contact-list">
                             <div class="single-contact-list">
                                 <div class="contact-icon">
                                     <i class="zmdi zmdi-pin"></i>
                                 </div>
                                 <div class="conatct-desc">
                                     <p>House No 08, Road No 08, <br>Mah Hya, Dhaka, Bangladesh</p>
                                 </div>
                             </div>
                             <div class="single-contact-list">
                                 <div class="contact-icon">
                                     <i class="zmdi zmdi-phone"></i>
                                 </div>
                                 <div class="conatct-desc">
                                     <p>+660 256444 24857 <br> +660 256 24857</p>
                                 </div>
                             </div>
                             <div class="single-contact-list">
                                 <div class="contact-icon">
                                     <i class="zmdi zmdi-email"></i>
                                 </div>
                                 <div class="conatct-desc">
                                     <p>info@example.com <br> info@example.com</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="map-area">
                   <div id="googleMap" style="width:100%;height:460px;"></div>
                </div>
            </div>
        </div>

        <!--Conatct form start-->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="contact-form-inner pt-95">
                     <div class="contact-form-titile text-center">
                         <h3>Send Us a Message</h3>    
                     </div>
                    <div class="contat_form_inner mt-60">
                         <form id="contact-form" action="blog/mail.php" method="POST">
                             <div class="single-contact-form d-flex">
                                 <div class="contact-box">
                                     <input type="text" placeholder="Your Name *" name="name">
                                 </div>
                                 <div class="contact-box">
                                     <input type="text" placeholder="Phone *" name="phone">
                                 </div>
                             </div>
                             <div class="single-contact-form">
                                 <div class="contact-box subject">
                                     <input type="email" placeholder="Email*" name="email">
                                 </div>
                             </div>
                             <div class="single-contact-form">
                                 <div class="contact-box message">
                                     <textarea name="message" placeholder="Message*"></textarea>
                                 </div>
                             </div>
                             <div class="contact-btn">
                                 <button type="submit">Send Message</button>
                             </div>

                             <p class="form-messege"></p>

                         </form>
                    </div>
                </div>
            </div>

        </div>
        <!--Conatct form end-->
     </div>
</div>
<!--Contact us end-->

{% endblock content %}