{% extends 'blog/partials/base.html' %}
<!-- header start-->
{% include 'blog/partials/header.html' %}

<!--header end-->

<!-- slider-area-start -->
{% include 'blog/partials/slider.html' %}
<!-- slider-area-end -->

<!--Banner area start-->


<!--Banner area end-->


<!--Hot Deal product start-->

<!--Hot Deal product end-->  

                        
<!--Hot Deal product start-->

<!--Hot Deal product end-->


<!--Banner product section-->

<!--Banner product section end-->


<!--Full Width  banner start-->

<!--Full Width Banner end-->

<!--Latest Post start-->

<!--Latest Post end-->

<!--Newsletter section start -->

<!--Newsletter section end -->

<!--Footer start-->

<!--Footer end-->